@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #33383b;
  --rocket-color: #7159c1;
}

* { padding: 0px; margin: 0px; box-sizing: border-box; }

body { background-color: #FFF; font-family: 'Roboto', sans-serif; }

header {
  color: #FFF;
  padding: 30px;

  text-align: center;

  background-color: var(--rocket-color);
}

.links a + a {
  margin-left: 20px;
}

nav.links a { width: 120px; }

.links a {
  display: inline-block;

  text-decoration: none;

  padding: 8px 16px;

  border-radius: 8px;
  border: 1px solid #FFF;

  color: #FFF;
  width: 100px;
}

.links a:hover {
  background-color: #FFF;
  color: var(--rocket-color);
  font-weight: 700;
}

header .container { display: flex; justify-content: center; }

header .container img { width: 75px; margin-right: 30px; }

header .container h1 {
  display: flex;

  font-size: 38px;

  padding-left: 20px;

  align-items: center;

  border-left: 1px solid #FFF;
}

.content { padding: 32px; background-color: #FFF;}

.content article { text-align: center; }

.content h2, h3 {
  font-size: 24px;
  line-height: 34px;

  color: var(--rocket-color);

  font-weight: 700;
}

.content p {
  margin: 30px auto;

  max-width: 500px;

  color: #777;
  font-size: 18px;
  line-height: 28px;
}

.technologies { width: 250px; margin: 0 auto; }

.technologies ul { list-style: none; text-align: center;}

.technologies li { border-bottom: 1px solid #ddd; padding: 10px 0px; }

.technologies li a { text-decoration: none; color: #333; }

.technologies li:hover { font-weight: 700; border-bottom: 1px solid var(--rocket-color); }

footer { text-align: center; padding: 32px; background-color: var(--rocket-color); }

