@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #33383b;
  --rocket-color: #7159c1;
}

* { padding: 0px; margin: 0px; box-sizing: border-box; }

body { background-color: #FFF; font-family: 'Roboto', sans-serif;}

/* Cabeçalho das paginas */
header {
  color: #FFF;
  padding: 30px;

  text-align: center;

  background-color: var(--rocket-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a + a {
  margin-left: 20px;
}

nav.links a { width: 120px; }

.links a {
  display: inline-block;

  text-decoration: none;

  padding: 8px 16px;

  border-radius: 8px;
  border: 1px solid #FFF;

  color: #FFF;
  width: 100px;
}

.links a:hover {
  background-color: #FFF;
  color: var(--rocket-color);
  font-weight: 700;
}

/* Pagina Sobre */
.content-header .container { text-align: center; }
.content-header img { width: 200px; border-radius: 50%; border: 5px solid #a4a4a4}
.content-header h1 { color: var(--rocket-color); font-weight: 700; font-size: 38px; line-height: 48px; margin: 20px 0; }


.content { padding: 32px; background-color: #FFF; text-align: center; margin-bottom: 50px; height: 100%;}

.content h2, h3 {
  font-size: 24px;
  line-height: 34px;

  color: var(--rocket-color);

  font-weight: 400;
}

.content article { max-width: 600px; margin: 50px auto; }

.content p {
  margin-top: 24px;

  color: #777;
  font-size: 18px;
  line-height: 28px;
}

.technologies { width: 250px; margin: 0 auto; }

.technologies ul { list-style: none; text-align: center;}

.technologies li { border-bottom: 1px solid #ddd; padding: 10px 0px; }

.technologies li a { text-decoration: none; color: #333; }

.technologies li:hover { font-weight: 700; border-bottom: 1px solid var(--rocket-color); }

/* pagina de conteudos */

.content h1 { color: var(--rocket-color); font-size: 42px; line-height: 52px; margin-bottom: 32px;}

.cards { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; width: 100%; }

.card {
  background-color: var(--primary-color);
  text-align: center;

  border-radius: 16px;
  padding: 32px;

  cursor: pointer;
}

.card:hover {
  transition: transform 200ms;

  border: 5px solid var(--rocket-color);
  transform: translateY(-20px);
}

.card__content h2 {
  margin-top: 20px;
  color: #c3c3c3
}

.card__content p {
  font-size: 18px;
  line-height: 28px;
  color: #cecece;
}

.card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__info p {color: #FFF; padding: 0; font-size: 16px;}
.card__price { 
  display: flex;
  align-items: center;
}
.card__price span {
  background-color: var(--rocket-color);

  line-height: 12px;

  padding: 8px 16px;
  border-radius: 16px;
  font-size: 12px;
}

footer {
  text-align: center;
  padding: 32px;
  background-color: var(--rocket-color);
  width: 100%;
}

.modal-overlay {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  
  width: 100%;
  height: 100%;

  top: 0;

  animation: modal 500ms ease-in-out;
}

@keyframes modal {
  from { width: 0; height: 0; }
}

.modal-overlay.maximize { display: initial; }

.modal {
  background: #FFF;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  border-radius: 16px;

  position: relative;
}

.close-modal {
  cursor: pointer;

  position: absolute;
  right: 10px;
  top: 10px;
}

iframe {width: 100%; position: absolute; height: 90%; top: 5vh;}