{% extends "layout.njk" %}

{% block content %}
  <section class="content course" style="height: 75vh;">

    <iframe src="https://rocketseat.com.br/{{ course.id }}" frameborder="0"></iframe>

  </section>
{% endblock content %}