{% extends "layout.njk" %}

{% block content %}
  <section class="content" style="height: 70vh;">
    <h1>ERRO: 404 - Not Found </h1>
    <p>Pagina não encontrada, verifique se o endereço está correto.</p>
  </section>
{% endblock content %}