{% extends "layout.njk" %}
{% block content %}
  <section class="content">

    <h1>Conteudos</h1>

    <div class="cards">
      <div class="card" id="starter">

        <div class="card__logo-container">
          <img src="https://skylab.rocketseat.com.br/static/media/Starter.64c237cc.svg" alt="">
        </div>

        <div class="card__content">
          <h2>Starter</h2>
          <p>
            <strong>Torne-se um programador desejado</strong>
            no mercado com esses cursos gratuitos
          </p>
        </div>

        <div class="card__info">
          <p>Contem 5 módulos</p>
          <p class="card__price"><span>GRATIS</span></p>
        </div>

      </div>

      <div class="card" id="launchbase">

        <div class="card__logo-container">
          <img src="https://skylab.rocketseat.com.br/static/media/LaunchBase.08285320.svg" alt="">
        </div>

        <div class="card__content">
          <h2>LaunchBase</h2>
          <p>
            <strong>Domine a programação do zero</strong>
            e tenha acesso as melhores oportunidades do mercado
          </p>
        </div>

        <div class="card__info">
          <p>Contem 8 módulos</p>
          <p class="card__price"><span>PAGO</span></p>
        </div>

      </div>

      <div class="card" id="gostack">

        <div class="card__logo-container">
          <img src="https://skylab.rocketseat.com.br/static/media/GoStack.83a178a0.svg" alt="">
        </div>

        <div class="card__content">
          <h2>GoStack</h2>
          <p>
            <strong>Treinamento imersivo</strong>
            nas tecnologias mais modernas de desenvolvimento web e mobile.
          </p>
        </div>

        <div class="card__info">
          <p>Contem 8 módulos</p>
          <p class="card__price"><span>PAGO</span></p>
        </div>

      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <div class="close-modal">
        <i class="material-icons">close</i>
      </div>

      <iframe frameborder="0"></iframe>
    </div>
  </div>

  <script src="script.js"></script>

{% endblock content %}
